extends ../layout

block content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header
            h4.mb-0 Calendario de Turnos
            
          .card-body
            .row
              .col-md-3
                .form-group
                  label(for='filtroSucursal') Sucursal
                  select#filtroSucursal.form-control
                    option(value='') Todas las sucursales
                    each sucursal in sucursales
                      option(value=sucursal.sucursalid)= sucursal.nombre_sucrsal
                      
              .col-md-3
                .form-group
                  label(for='filtroEspecialidad') Especialidad
                  select#filtroEspecialidad.form-control
                    option(value='') Todas las especialidades
                    each esp in especialidades
                      option(value=esp.especialidadId)= esp.nombre_esp
                      
              .col-md-3
                .form-group
                  label(for='filtroMedico') Médico
                  select#filtroMedico.form-control
                    option(value='') Todos los médicos
                    
              .col-md-3
                .form-group
                  label(for='fecha') Fecha
                  input#fecha.form-control(type='date')
                  
            #calendario

block scripts
  script(src='/js/fullcalendar/main.min.js')
  script(src='/js/turnos/calendario.js')
  script(src='/js/turnos/busquedaCalendario.js') 