extends ../layout

block content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header
            h4.mb-0 Buscar Turnos Disponibles
          
          .card-body
            form(action="/turno/buscarTurno" method="POST")
              #sucursalSelect.form-group
                label(for='sucursal') Seleccione Sucursal:
                select#sucursal.form-control(name='sucursal' required)
                  option(value='') Seleccione una sucursal
                  each sucursal in sucursales
                    option(value=sucursal.sucursalid)= sucursal.nombre_sucrsal

              button.btn.btn-primary.mt-3(type='submit') Buscar Turnos 