extends ../layout

block content
  .container-fluid
    .row
      .col-md-12
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
          h1.h2 Turnos
          .btn-toolbar.mb-2.mb-md-0
            .btn-group.me-2
              a.btn.btn-sm.btn-outline-secondary(type='button' href='/turno/misTurnos') Volver

        .container
          .form-group
            .row
              .card.mb-3
                .card-body
                  h4.text-center Reservar turno
                  form(action="/turno/buscarTurno", method="post")
                    .form-group
                      .mb-3#buscarPor                             
                        h5 Buscar turno por
                      
                      .mb-3
                        .form-check.form-check-inline
                          input.form-check-input(type="radio" name="radioBtn" id="rb1" value="sucursal" checked)
                          label.form-check-label.fw-bold(for="rb1") Sucursal

                        .form-check.form-check-inline
                          input.form-check-input(type="radio" name="radioBtn" id="rb2" value="medico")
                          label.form-check-label.fw-bold(for="rb2") Médico

                        .form-check.form-check-inline
                          input.form-check-input(type="radio" name="radioBtn" id="rb3" value="especialidad")
                          label.form-check-label.fw-bold(for="rb3") Especialidad

                      .group-sucursal
                        .mb-3
                          input(hidden name='userId' value=user.id)
                          label.col.col-form-label(for="sucursal") Sucursal
                          .col-sm
                            select#sucursal.form-control(name="sucursal" required)
                              option(value='') Seleccione una sucursal
                              each sucursal in sucursales
                                option(value=sucursal.sucursalid)= sucursal.nombre

block scripts
  script.
    $(document).ready(function() {
      $('input[name="radioBtn"]').change(function() {
        const selected = $(this).val();
        $('#sucursalSelect, #medicoSelect, #especialidadSelect').addClass('d-none');
        $(`#${selected}Select`).removeClass('d-none');
      });
    }); 