extends layout

block content
  h2 Bienvenido a la Agenda Médica
  p Aquí podrás gestionar tus citas médicas de manera fácil y eficiente.
  a(href="/agenda") Ver Agenda
  a(href="/paciente/nuevo") Registrar Paciente