extends layout

block content
  h1 Iniciar Sesión
  form(action="/login", method="POST")
    div
      label(for="username") Nombre de Usuario:
      input(type="text", name="username", required)
    div
      label(for="password") Contraseña:
      input(type="password", name="password", required)
    div
      button(type="submit") Iniciar Sesión
