extends layout

block content
  h1 Iniciar Sesi칩n
  
  if error
    div.alert.alert-danger
      | #{error}

  form(action="/login", method="POST")
    div
      label(for="username") Usuario:
      input(type="text", name="username", required, placeholder="Ingresa tu usuario")

    div
      label(for="password") Contrase침a:
      input(type="password", name="password", required, placeholder="Ingresa tu contrase침a")

    div.button-container
      button(type="submit", class="btn") Iniciar Sesi칩n
      a(href="/register", class="btn-secondary") Registrarse
