extends layout

block content
  h1 ¡Bienvenido, #{user.username}! 
  div.button-container
    a(href="/usuarios", class="btn") Editar Usuarios
    a(href="/agenda", class="btn") Agenda
    a(href="/paciente", class="btn") Agregar Paciente
    a(href="/logout", class="btn") Cerrar Sesión