extends layout

block content
  h1 ¡Bienvenido, #{user.nombreEmpleado}!
    div.button-container
    a(href="/profesionales", class="btn") Listar Profesionales
    a(href="/usuarios", class="btn") Listar Usuarios
    a(href="/pacientes", class="btn") Listar Pacientes
    a(href="/agenda", class="btn") Agenda
    a(href="/paciente", class="btn") Agregar Paciente
    a(href="/medicos", class="btn") Agregar Profesional
    a(href="/turnos", class="btn") Agregar Turno
  a(href="/logout", class="btn") Cerrar Sesión

