extends layout

block content
  div.dashboard-container
    div.sidebar
      div.user-info
        if user.foto_perfil
          img.user-avatar(src=`/uploads/profile/${user.foto_perfil}` alt="Foto de perfil")
        else
          i.fas.fa-user-circle
        h2 #{user.nombre} #{user.apellido}
        p.user-type #{user.tipo_perfil}
      
      nav.menu
        if user.isAdmin
          div.menu-section
            h3 Gestión General
            ul
              li
                a(href="/usuarios")
                  i.fas.fa-users
                  span Usuarios
              li
                a(href="/sucursal")
                  i.fas.fa-hospital
                  span Sucursales
              li
                a(href="/medicos/especialidades")
                  i.fas.fa-stethoscope
                  span Especialidades
              li
                a(href="/obrasocial")
                  i.fas.fa-hospital-symbol
                  span Obras Sociales

          div.menu-section
            h3 Gestión de Turnos
            ul
              li
                a(href="/agenda/gestion")
                  i.fas.fa-calendar-alt
                  span Gestión de Agenda
            
            h3 Agregar
            ul
              li
                a(href="/paciente/agregar")
                  i.fas.fa-user-plus
                  span Nuevo Paciente
              li
                a(href="/medicos")
                  i.fas.fa-user-md
                  span Nuevo Profesional
              li
                a(href="/admin/crear")
                  i.fas.fa-user-shield
                  span Nuevo Administrador
              li
                a(href="/secretaria/crear")
                  i.fas.fa-user-tie
                  span Nueva Secretaria

        if user.isSecretaria
          div.menu-section
            h3 Gestión de Turnos
            ul
              li
                a(href="/turno/secretario")
                  i.fas.fa-calendar-check
                  span Turnos Pendientes
              li
                a(href="/turno/buscarAgenda")
                  i.fas.fa-calendar-plus
                  span Nuevo Turno
              li
                a(href="/agenda/gestion")
                  i.fas.fa-calendar-alt
                  span Gestión de Agenda

          div.menu-section
            h3 Pacientes
            ul
              li
                a(href="/pacientes")
                  i.fas.fa-hospital-user
                  span Lista de Pacientes
              li
                a(href="/paciente/agregar")
                  i.fas.fa-user-plus
                  span Nuevo Paciente

        if user.isMedico
          div.menu-section
            h3 Mi Consultorio
            ul
              li
                a(href="/agenda")
                  i.fas.fa-calendar-alt
                  span Mi Agenda 
        
        if user.isPaciente
          div.menu-section
            h3 Mis Turnos
            ul
              li
                a(href="/turno/buscarAgenda")
                  i.fas.fa-calendar-plus
                  span Solicitar Turno
              li
                a(href="/turno/historial")
                  i.fas.fa-history
                  span Historial

        div.menu-section
          h3 Mi Cuenta
          ul
            li
              a(href="/mi-perfil")
                i.fas.fa-user-edit
                span Mi Perfil
            li
              a(href="/logout")
                i.fas.fa-sign-out-alt
                span Cerrar Sesión

    div.main-content
      div.welcome-banner
        h1 Bienvenido al Portal de Consultas Médicas
        p Selecciona una opción del menú para comenzar

