doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h1 Agenda de Consultas Médicas
    main
      block content
    footer
      p © 2024 Emanuel Sosa and Benito Mauro
    script(src='/js/client.js')