extends layout

block content
  div.card
    h2.card-title Agregar Paciente
    
    if error
      div.alert.alert-danger
        | #{error}
    
    if success
      div.alert.alert-success
        pre.success-message #{success}
    
    form(action="/paciente/agregar", method="POST", enctype="multipart/form-data")
      div.form-group
        label.form-label(for="nombre") Nombre:
        input.form-control(type="text", name="nombre", required, placeholder="Ingrese el nombre del paciente")
      div.form-group
        label.form-label(for="apellido") Apellido:
        input.form-control(type="text", name="apellido", required, placeholder="Ingrese el apellido del paciente")
      div.form-group
        label.form-label(for="dni") DNI:
        input.form-control(type="number", name="dni", required, placeholder="Ingrese el DNI sin puntos")
      div.form-group
        label.form-label(for="foto_dni") Foto DNI:
        input.form-control(type="file", name="foto_dni", accept="image/*", required)
      div.form-group
        label.form-label(for="email") Email:
        input.form-control(type="email", name="email", required, placeholder="Ingrese el email del paciente")
      div.form-group
        label.form-label(for="telefono") Teléfono:
        input.form-control(type="text", name="telefono", required, placeholder="Ingrese el teléfono del paciente")
      div.form-group
        label.form-label(for="direccion") Dirección:
        input.form-control(type="text", name="direccion", required, placeholder="Ingrese la dirección del paciente")
      div.form-group
        label.form-label(for="localidad") Localidad:
        input.form-control(type="text", name="localidad", required, placeholder="Ingrese la localidad del paciente")
      div.button-container
        button.btn-primary(type="submit")
          i.fas.fa-user-plus
          span Agregar Paciente
        a.btn-secondary(href="/inicio")
          i.fas.fa-arrow-left
          span Volver
