extends layout

block content
  h1 Registrarse 
  
  if error
    div.alert.alert-danger
      | #{error}

  form(action="/register", method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text", name="name", required, placeholder="Tu nombre")
    div
      label(for="apellido") Apellido:
      input(type="text", name="lastname", required, placeholder="Tu apellido")
    div
      label(for="dni") DNI:
      input(type="text", name="dni", required, placeholder="Tu DNI sin puntos")
    div
      label(for="mail") Mail:
      input(type="text", name="username", required, placeholder="Crea un nombre de usuario")
    div
      label(for="obraSocial") Obra Social:
      select(name="obraSocial", required)
        option(value="") Selecciona tu obra social
        option(value="OSDE") OSDE
        option(value="PAMI") PAMI
        option(value="Swiss Medical") Swiss Medical
        option(value="Otros") Otros
        option(value="Particular") Particular
    div
      label(for="telefono") Telefono:
      input(type="text", name="phone", required, placeholder="Tu numero de telefono sin puntos")
    div
      label(for="password") Contraseña:
      input(type="password", name="password", required, placeholder="Crea una contraseña segura")
    div.button-container
      button(type="submit", class="btn") Registrarse
      a(href="/login", class="btn") Ya tengo una cuenta

