extends layout

block content
  h1 Registrarse 
  
  if error
    div.alert.alert-danger
      | #{error}

  form(action="/register", method="POST")
    div
      label(for="username") Usuario:
      input(type="text", name="username", required, placeholder="Crea un nombre de usuario")

    div
      label(for="password") Contraseña:
      input(type="password", name="password", required, placeholder="Crea una contraseña segura")

    div
      label(for="tipo") Tipo de usuario:
      select(name="tipo", required)
        option(value="paciente") Paciente
        option(value="profesional") Profesional

    div.button-container
      button(type="submit", class="btn") Registrarse
      a(href="/login", class="btn") Ya tengo una cuenta
