body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4c43cd;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  margin : 7rem auto; /* Aumenta el espaciado superior para separar del header */
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a,
.btn {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin: 0.5rem;
}

.btn:hover,
a:hover {
  background-color: #2980b9;
}

.alert {
  background-color: #f44336;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
